* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0 auto;

    background-color: rgb(222, 223, 255);
    display: flex;
    justify-content: center;
}

.container {
    padding: 24px;
    width: 800px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container > div {
    padding: 10px;

    background-color: white;
    border-radius: 10px;
    /* border: 2px solid teal; */
    box-shadow: 0 0 10px 0 rgb(0,0,0,.2);
}
.title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.todo-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.todo-form__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.todo-list {

}
input {
    padding: 15px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid teal;
}
button {
    padding: 10px 15px;

    align-self: flex-end;
    background-color: white;
    border: 1px solid teal;
    color: teal;
    border-radius: 5px;
}
ul {
    list-style: none;
}
.task {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}