* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgb(222, 223, 255);
    min-width: 1000px;
}

.container {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container>div {
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    width: 700px;
    color: #252EFF;
    text-align: center;
}

.header {}

.menu {
    display: flex;

    flex-direction: column;
    gap: 10px;
}

.menu__btns {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "A B"
        "x x"
        "C C"
        "D D";
}

#playerX {
    grid-area: A;
}

#playerO {
    grid-area: B;
}

#PvE {
    grid-area: C;
}

#PvP {
    grid-area: D;
}

button {
    font-size: 15px;
    padding: 5px 40px;
    border: 0;
    border-radius: 20px;
    background: #252EFF;
    color: white;
    transition: all .2s ease;
}

button:hover {
    color: #252EFF;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    font-weight: 700;
}

button:active {
    background-color: black;
}

.game {
    position: relative;
    padding: 50px !important;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.game-info {
    padding: 40px !important;
}

.game-stop {
    z-index: 1;
    height: 610px;
    width: 610px;
    top: 45px;
    background-color: rgba(0, 0, 0, 0.596);
    position: absolute;
}

.game-square {
    display: grid;
    height: 600px;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;

}

.cell {
    border: 1px solid #6065ff4a;
    background-color: rgb(222, 223, 255);
    transition: all .2s ease-in-out;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 150px;
    line-height: 200px;
    font-weight: 200;

}

.cell:hover {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    transform: scale(1.05);
}

.cell:active {
    background-color: #252EFF;
}